@tailwind base;
@tailwind components;

.btn {
   animation: rotation 10s linear infinite;
}

.weatherSkeleton{
   @apply animate-pulse;
   width: 647px;
   height: 206px;
}

.icon{
   @apply h-5 w-5 inline;
}

@tailwind utilities;